@model IEnumerable<Domain.DTO.EspecieDTO>
<head>
    <style>
        /* Estilos para la tabla */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        /* Estilo para el botón "Create" */
        .btn-create {
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }

        /* Estilo para el botón "Delete" */
        .btn-delete {
            background-color: red;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
        }

        /* Estilo para la imagen */
        img {
            max-width: 70px;
            max-height: 70px;
        }
    </style>
</head>

<body>




<h4>Especies</h4>

@if (ViewBag.Msg != "") {
    <h5 style="color:red">@ViewBag.Msg</h5>
}


<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>

<table class="table">
    <form asp-action="FiltrarPorNombreCientifico" method="post">
        <input id="btnFiltrar" type="button" value="Filtrar" class="btn btn-primary" />


        <div id="divNombreCientifico" style="display:flex; padding: 2% 0%">
            <label class="control-label">Buscar por nombre cientifico:</label> <br>
            <input id="txtBuscar" name="fNombreCientifico" type="text" class="form-control" style="width: 17%;" />
            <input style="margin-top: 1%" id="btnBuscar" type="submit" value="Buscar" class="btn btn-primary" /> <br>

        </div>
    </form>

        <div id="divPeligroExt">
            <label class="control-label">Buscar por peligro de extincion:</label>
            <select id="slcRangosExtincion" name="Rango" class="form-select" style="width: 17%;">
                <option value="1">Malo</option>
                <option value="2">Aceptable</option>
                <option value="3">Bueno</option>
                <option value="4">Optimo</option>
            </select>

        </div>
        <div id="divRangoPeso">
            <label class="control-label">Buscar por rango de peso:</label>
            <select id="slcRangosPeso" name="Rango" class="form-select" style="width: 17%;">
                <option value="1">Gordibueno</option>
            </select>

        </div>
        <div id="divBuscarEcosistema">
            <label class="control-label">Buscar por ecosistema: </label>
            <select id="slcEcosistemas" name="Ecosistemas" class="form-select" style="width: 17%;">
                @foreach (var e in ViewBag.Ecosistemas)
                {
                    <option value="@e.EcosistemaMarinoId">@e.Nombre</option>
                }
            </select>

        </div>
        <div id="divNoPuedeHabitar">
            <label class="control-label">Buscar que ecosistemas no puede habitar la especie: </label>
            <select id="slcEcosistemas" name="Ecosistemas" class="form-select" style="width: 17%;">
                @foreach (var e in ViewBag.Ecosistemas)
                {
                    <option value="@e.EcosistemaMarinoId">@e.Nombre</option>
                }
            </select>

        </div>


    <br>
    <br>

    <thead>
        <tr>
            <th>
                Especie Id 
            </th>
            <th>
                Nombre Cientifico
            </th>
            <th>
                Nombre Vulgar
            </th>
            <th>
                Peso Minimo
            </th>
            <th>
                Peso Maximo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Estado Conservacion
            </th>
            <th>
                Ecosistemas Habitados
            </th>
            <th>
                Foto
            </th>
            <th>
                
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Especies)
        {
            <tr>
                <td>
                    @item.EspecieId
                </td>
                <td>
                    @item.NombreCientifico
                </td>
                <td>
                    @item.NombreVulgar
                </td>
                <td>
                    @item.PesoMin
                </td>
                <td>
                    @item.PesoMax
                </td>
                <td>
                    @item.Descripcion
                </td>
                <td>
                    @item.EstadoConservacion.Nombre
                </td>
                <td>
                    @item.EcosistemasHabitados
                </td>
                <td>
                    <img src="~/img/especies/@item.ImagenURL" />
                </td>
                <td>
                    <form method="post" asp-action="Delete" asp-route-id="@item.EspecieId">
                        <button type="submit" class="btn-delete">Delete</button>
                    </form>
                </td>
                
            </tr>
        }
    </tbody>
</table>

</body>

<script>

    var btn = document.querySelector("#btnFiltrar")
    var divNombreCientifico = document.querySelector("#divNombreCientifico")
    var divPeligroExt = document.querySelector("#divPeligroExt")
    var divRangoPeso = document.querySelector("#divRangoPeso")
    var divBuscarEcosistema = document.querySelector("#divBuscarEcosistema")
    var divNoPuedeHabitar = document.querySelector("#divNoPuedeHabitar")
   

    function OnInit(){
        divNombreCientifico.style.display = "none"
        divPeligroExt.style.display = "none"
        divRangoPeso.style.display = "none"
        divBuscarEcosistema.style.display = "none"
        divNoPuedeHabitar.style.display = "none"

    }


    btn.addEventListener("click", ()=>{
        
        divNombreCientifico.style.display = "block"
        divPeligroExt.style.display = "block"
        divRangoPeso.style.display = "block"
        divBuscarEcosistema.style.display = "block"
        divNoPuedeHabitar.style.display = "block"

    })

    OnInit()


</script>
