@model Domain.DTO.EcosistemaMarinoDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EcosistemaMarinoDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class=" form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Latitud Geograifca</label>
                <input name="Latitud" class="form-control" />
                <span asp-validation-for="UbicacionGeografica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Longitud Geografica</label>
                <input name="Longitud" class="form-control" />
                <span asp-validation-for="UbicacionGeografica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Grado de Peligro</label>
                <input name="GradoPeligro" class="form-control" />
                <span asp-validation-for="UbicacionGeografica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado de conservacion</label>
                <select name="EstadoConservacion">
                    @foreach (var ec in ViewBag.estados) {
                        <option value ="@ec.EstadoConservacionId">@ec.Nombre</option>
                    }
                </select>
                <span asp-validation-for="UbicacionGeografica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Pais</label>
                <select name="Pais" id="Pais">
                    @foreach (var p in ViewBag.paises) {
                        <option value ="@p.PaisId">@p.Nombre</option>
                    }
                </select>
                <span asp-validation-for="UbicacionGeografica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" type="file" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <p>@ViewBag.Msg</p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
