@model IEnumerable<Domain.DTO.EcosistemaMarinoDTO>


@{
    ViewData["Title"] = "Lista de Ecosistemas";
}

<h4>Especies</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Area
            </th>
            <th>
                Pais
            </th>
            <th>
                Latitud
            </th>
            <th>
                Longitud
            </th>
            <th>
                Grado de Peligro
            </th>
            <th>
                Estado de conservacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Ecosistema) {
        <tr>
            <td>
                @item.EcosistemaMarinoId
            </td>
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Area
            </td>
            <td>
                @item.PaisNombre
            </td>
            <td>
                @item.UbicacionGeografica.Latitud
            </td>
            <td>
                @item.UbicacionGeografica.Longitud
            </td>
            <td>
                @item.UbicacionGeografica.GradoPeligro
            </td>
            <td>
                @item.EstadoConservacion.Nombre
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
